@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
  background: #EEE;
  color: #333;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

#form {
  width: 300px;
  background: none;
  border-radius: 3px;
  padding: 10px;
  color: #333;
  margin-left: 50px;
  background: #FFF;
  margin-top: 50px;
  float: left;
  position: fixed;
}

#display {
  width: calc(100% - 470px);
  min-height: 500px;
  float: right;
  margin-right: 50px;
  margin-top: 20px;
}

label {
  display: block;
  text-align: center;
}

.container {
  display: block;
  margin-bottom: 0px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
}

.employeeInfo {
  background: #333;
  padding: 5px 10px 5px 10px;
  margin: 0 0 20px 0;
  color: #FFF;
  border-radius: 3px;
}

h1 {
  text-align: center;
}

span {
  color: #999;
}

.one {
  color: red;
}

.two {
  color: orange;
}

.three {
  color: yellow;
}

.four {
  color: greenyellow;
}

.five {
  color: green;
}

input {
    background-color: white;
    cursor: auto;
    padding: 5px;
    border: none;
    width: 290px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    outline: none;
    border: 1px solid #EEE;
    border-radius: 3px;
    margin-bottom: 0;
}

input[type="submit"], button {
  background: #337AB7;
  color: #FFF;
  width: 300px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}
input:focus {
  border-color: #337AB7;
}

button {
  margin-top: 10px;
}

.total {
  width: calc(100% - 490px);
  height: 30px;
  background: #008800;
  color: #EEE;
  float: right;
  margin-top: 50px;
  margin-right: 50px;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
}

.total p {
  margin-top: 5px;
}
